<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLXuatNhapKhoLKDT.Properties.Settings.QL_XUATNHAPKHO_LKDTConnectionString"
            connectionString="Data Source=.\SONSQLSERVER;Initial Catalog=QL_XUATNHAPKHO_LKDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLXuatNhapKhoLKDT.Properties.Settings.ytnpjqvx_QL_XOSO_VIETLOTTConnectionString"
            connectionString="Data Source=lightingwindows.vnso.vn\MSSQLSERVER2014;Initial Catalog=ytnpjqvx_QL_XOSO_VIETLOTT;User ID=quanlyxosovietlott;Password=Ahng89di@@2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>